body{
    text-align: center;
    margin: 0;
}
.menu{
    position: fixed;
    background: white;
    width: 100%;
    margin-top: 0;
}
.links{
    display: inline;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    /* pseudo class-  syntax: selector:pseudo-class{property:value} */
    /* hover :- for hovering effect */

    .links:hover{
       font-size: 25px;
       text-decoration: double;
       
    }
    a{
        text-decoration: none;
        color: darkgoldenrod;
        
    }
    html{
        scroll-behavior: smooth;
    }
    #welcome{
        background: linear-gradient(aqua,aquamarine);
        color:darkblue;
    }
    .profile{
        margin-top: 50px;
        border-radius: 50px;
    }
    h1{
        font-size: 40px;
        font-weight: 500;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    #name{
        font-size: 60px;
        line-height: 1.2;
        font-family: 'Smooch', cursive;
    }
    h2{
        font-size: 30px;
        font-weight: 300;
        font-family: 'Koulen', cursive;
    }
    #bio{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
        padding: 50px;
        font-size: 25px;  
    
    }
    .line{
        height: 6px;
        background-color: darkblue;
        width: 70px;
        margin: auto;
    }
    p{
        font-size: 25px;
    }
    #writings a{
        text-shadow: none;
        text-decoration: underline;
    }
    #writings a:hover{
        color: rgb(255, 0, 230);
    }
    #contact{
        background-color: red;
    }

    #contact iframe{
        width: 100%;
        margin-top : 5px;
    }
    .contact_1 h3{
        display: inline;
    }
    .contact_1 a{
        text-shadow: none;
        color: aliceblue;
    }